{% if site.data.publications %}

<h2 id="publications" style="margin: 2px 0px -15px;">Publications</h2>

<div class="publications">
  <ol class="bibliography">

    {% for publication in site.data.publications.main %}

    <li>
      <div class="pub-row">
        <div class="col-sm-12" style="position: relative;padding-right: 15px;padding-left: 15px;">
          <div class="title"><a href="{{ publication.pdf | default: publication.link }}">{{ publication.title }}</a></div>
          <div class="author">{{ publication.authors }}</div>
          <div class="periodical"><em>{{ publication.conference }}</em>
          {% if publication.conference_short %}
          <abbr class="badge" style="margin-left: 10px;">{{ publication.conference_short }}</abbr>
          {% endif %}
          </div>
          <div class="links">
            {% if publication.pdf %}
            <a href="{{ publication.pdf }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">PDF</a>
            {% endif %}
            {% if publication.link %}
            <a href="{{ publication.link }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Link</a>
            {% endif %}
            {% if publication.code %}
            <a href="{{ publication.code }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Code</a>
            {% endif %}
            {% if publication.page %}
            <a href="{{ publication.page }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Project Page</a>
            {% endif %}
            {% if publication.slides %}
            <a href="{{ publication.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Slides</a>
            {% endif %}
            {% if publication.video %}
            <a href="{{ publication.video }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Video</a>
            {% endif %}
            {% if publication.bibtex %}
            <a href="#" onclick="event.preventDefault(); copyBibtex('{{ publication.title | slugify }}-bibtex', this); return false;" class="btn btn-sm z-depth-0" role="button"
              style="font-size:12px;">Bib</a>
            {% endif %}
            {% if publication.others %}
            {{ publication.others }}
            {% endif %}
          </div>
          {% if publication.notes %}
          <div class="notes" style="margin-top: 3px;">
            <strong><i style="color:#e74d3c">{{ publication.notes }}</i></strong>
          </div>
          {% endif %}

          {% if publication.bibtex %}
          <div id="{{ publication.title | slugify }}-bibtex" style="display:none;">{{ publication.bibtex }}</div>
          {% endif %}
        </div>
      </div>
    </li>
    <br>

    {% endfor %}

  </ol>
</div>

{% endif %}
