{% if site.data.publications %}

<h2 id="publications">Publications</h2>

<div class="publications">
  <details class="preprints">
    <summary>Preprints</summary>
    <ol class="bibliography">
      {% for publication in site.data.publications.main %}
      {% if publication.preprint %}
      {% include publication-entry.html publication=publication %}
      {% endif %}
      {% endfor %}
    </ol>
  </details>

  <h3>Accepted and Published Papers</h3>
  <ol class="bibliography">
    {% for publication in site.data.publications.main %}
    {% unless publication.preprint %}
    {% include publication-entry.html publication=publication %}
    {% endunless %}
    {% endfor %}
  </ol>
</div>

{% endif %}
